{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'Login/style.css' %}">
    <title>Modern Login Page | AsmrProg</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form method="post">
                <h1>Create Account</h1>
                <span>or use your email for registeration</span>
                <input type="text" placeholder="Name" >
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form method="post">
                {% csrf_token %}
                <h1>Sign In</h1>
                
                <span>or use your email password</span>
                <input type="email" placeholder="Email"  name="txt_email"  autocomplete="off" required>
                <input type="password" placeholder="Password" name="txt_pass"  autocomplete="off" required>
                
                
                <input class="btn-login" type="submit" value="Sign In"></button>
               

            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
              
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello!</h1>
                    <p>"Why drive when you can glide? Hop on our best houses and 'seas' the day!"</p>
            

                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'Login/script.js' %}"></script>
</body>

</html>