{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}
<br><br>
<table border="1" cellpadding="20">
    <h2 align="center">Owners list</h2>
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Address</th>
            <th>House Title</th>
            <th>House Description</th>
            <th>House Price</th>
        </tr>
    </thead>
    <tbody>
        {% for owner in owners %}
            {% for house in owner.houses %}
            <tr>
                <td>{{ owner.name }}</td>
                <td>{{ owner.contact }}</td>
                <td>{{ owner.email }}</td>
                <td>{{ owner.gender }}</td>
                <td>{{ owner.address }}</td>
                <td>{{ house.house_title }}</td>
                <td>{{ house.house_description }}</td>
                <td>{{ house.house_price }}</td>
            </tr>
            {% endfor %}
        {% endfor %}

        <!-- Handling owners with no registered houses -->
        {% for owner in owners %}
            {% if owner.houses|length == 0 %}
            <tr>
                <td>{{ owner.name }}</td>
                <td>{{ owner.contact }}</td>
                <td>{{ owner.email }}</td>
                <td>{{ owner.gender }}</td>
                <td>{{ owner.address }}</td>
                <td>No House Registered</td>
                <td>No House Registered</td>
                <td>No House Registered</td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
